{% extends "base.html" %}

{% load static %}

{% block html_header %}
    <title>データの利用について</title>
    <meta name="description" content="新型コロナウイルス(COVID-19)に関する患者情報や統計情報など各種分析データの提供。有志によるコミュニティCOVID-19オープンデータベース作成委員会による政策運営。様々な分析データなどを研究者向けにオープンデータで提供中。">
    <meta name="keywords" content="新型コロナ, データ">
{% endblock %}

{% block content_header %}
    {% include 'base/header.html' with title="本サイトのデータ利用について" breadcrumb="データの利用について" only %}
{% endblock %}

{% block content_body %}

    <h4>データのライセンス</h4>
    <div class="content px-2">
        このサイトのデータは順次、JSONなどで公開いたします。<br>
        本サイトのデータは全て、クリエイティブコモンズライセンス(CC BY 4.0)に基づき公開されています。<br>
        データの利用に際しては、クリエイティブコモンズの条項に基づき、著作権者の表記が必要です。<br>
        表記する際には、CC BY 4.0の表記、サイト名「COVID-19 Database Japan」、サイトURL「http://covid19db.info/」を表記してください。<br>
        <img style="width: 200px; padding: 20px;" src="{% static 'img/cc.png' %}">
    </div>

    <h4>データ利用に関する注意事項</h4>
    <div class="content px-2">
        非商用においては、ランセンスおよびサイトURL表記の上、自由に利用可能です。<br>
        承諾なしに、データを販売および、データそのものをコンテンツとした書籍などを販売する事は禁止します。<br>
        商用利用に関しては、上記に該当しない場合は問題ありませんが、混乱を防ぐために事前にinfo@media-sketch.comまでお問い合わせください。<br>
    </div>
{% endblock %}


{% block content_script %}


{% endblock %}

