{% extends "base.html" %}

{% load static %}

{% block content_header %}
    <style type="text/css">
    <!--
    tr th:nth-of-type(1) { width:30% }
    -->
    </style>
{% endblock %}

{% block content_body %}

    <div class="content-header">
		<h1 class="text-dark">このサイトについて</h1>
    </div>
    <div class="content px-2">
        このサイトのデータは順次、JSONなどで公開いたします。<br>
        本サイトのデータは全て、クリエイティブコモンズライセンス(CC BY 4.0)に基づき公開されています。<br>
        非商用においては自由に利用可能です。<br>
        商用利用に関しては、info@media-sketch.comまでお問い合わせください。<br>
        <br>
        <img src="{% static 'img/cc.png' %}">
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        更新履歴
                    </h3>
                </div>
                <div class="card-body">
                    <ul>
                        <li>2020/4/9 北海道,福井,兵庫更新</li>
                        <li>2020/4/4 大阪,東京更新</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block content_script %}


{% endblock %}

