{% load static %}

<!DOCTYPE html>
<html>
<head>
    {% include 'base/header.html' %}
    {% block content_header %}
    {% endblock %}
</head>


<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    {% include 'base/nav.html' %}

    {% include 'base/sidebar.html' %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">

            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                {% block content_body %}
                {% endblock %}
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>

    <!-- /.content-wrapper -->
  <footer class="main-footer">
      {% include 'base/footer.html' %}
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

{% include 'base/js.html' %}

{% block content_script %}
{% endblock %}

</body>
</html>

