{% load static %}

<!DOCTYPE html>
<html>
    <head>
        {% block html_header %}{% endblock %}
        {% include 'base/style.html' %}
    </head>


    <body class="hold-transition sidebar-mini layout-fixed">
        <div class="wrapper">
            {% include 'base/nav.html' %}
            {% include 'base/sidebar.html' %}
            <div class="content-wrapper">
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            {% block content_header %}{% endblock %}
                        </div>
                    </div>
                </div>

                <section class="content">
                    <div class="container-fluid">
                        {% block content_body %}
                        {% endblock %}
                    </div>
                </section>
            </div>

            <footer class="main-footer">
                {% include 'base/footer.html' %}
            </footer>

            <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
            </aside>
        </div>

        {% include 'base/js.html' %}

        {% block content_script %}
        {% endblock %}

    </body>
</html>

