{% extends "base.html" %}

{% load static %}

{% block content_header %}
    <style type="text/css">
    <!--
    tr th:nth-of-type(1) { width:30% }
    -->
    </style>
{% endblock %}

{% block content_body %}

        <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        政府および官公庁の発表資料
                    </h3>
                </div>
                <div class="card-body">
                    <a href="https://www.mhlw.go.jp/stf/houdou/index.html" target="_blank">厚生労働省発表資料(https://www.mhlw.go.jp/stf/houdou/index.html)</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        都道府県の発表資料
                    </h3>
                </div>


                <div class="card-body">
                    <a href="https://catalog.data.metro.tokyo.lg.jp/dataset/t000010d0000000068/resource/c2d997db-1450-43fa-8037-ebb11ec28d4c" target="_blank">【東京都】東京都_新型コロナウイルス陽性患者発表詳細</a>
                </div>
                <div class="card-body">
                    <a href="http://www.pref.osaka.lg.jp/iryo/osakakansensho/corona.html" target="_blank">【大阪府】大阪府感染症対策情報 > 新型コロナウイルス感染症について</a>
                </div>
                <div class="card-body">
                    <a href="https://web.pref.hyogo.lg.jp/kk03/corona_kanjyajyokyo.html" target="_blank">【兵庫県】新型コロナウイルスに感染した患者の状況</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        民間のオープンデータ
                    </h3>
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        その他参考資料
                    </h3>
                </div>
                <div class="card-body">
                    <a href="https://docs.google.com/spreadsheets/d/1SPqnO0yLn8ubax96sDJZVDcjAH8QT1suLCIgroPGVHY/edit#gid=0" target="_blank">新型コロナウイルス対策都道府県別公式サイト</a><br>
                    <a href="https://www.stopcovid19.jp/" target="_blank">COVID-19 Japan</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
{% endblock %}

