{% extends "base.html" %}

{% load static %}

{% block content_header %}
    <style type="text/css">
    <!--
    tr th:nth-of-type(1) { width:30% }
    -->
    </style>
{% endblock %}

{% block content_body %}

    <div class="row">
        <div class="col-12">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">詳細データ</h3>
                </div>

                <div class="card-body">
                    {{ INFECTED_DATA|safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
{% endblock %}

