{% extends "base.html" %}


{% block html_header %}
    <title>新型コロナウイルス データ分析サイト | COVID-19 Database Japan</title>
    <meta name="description" content="新型コロナウイルス(COVID-19)に関する患者情報や統計情報など各種分析データの提供。有志によるコミュニティCOVID-19オープンデータベース作成委員会による政策運営。様々な分析データなどを研究者向けにオープンデータで提供中。">
    <meta name="keywords" content="新型コロナ, データ">
{% endblock %}

{% block content_header %}
    {% include 'base/header.html' with title="新型コロナデータベースサイト" breadcrumb="" only %}
{% endblock %}

{% block content_body %}

    <!-- Small boxes (Stat box) -->
    <div class="row">
        {% include 'parts/amount.html' with positive=AMOUNT.0 plus=AMOUNT.4 hospitalization=AMOUNT.1 discharge=AMOUNT.2 death=AMOUNT.3 only %}
        <div class="col-lg-12 col-6 text-right">
            <a href="https://www.mhlw.go.jp/stf/newpage_10723.html" target="_blank">厚生労働省 {{ LAST_UPDATE.0 }}年{{ LAST_UPDATE.1 }}月{{ LAST_UPDATE.2 }}日発表</a>
        </div>
    </div>
    <!-- /.row -->

    <!-- Main row -->
    <div class="row">
        <section class="col-lg-6 connectedSortable">
            <div class="card" style="background-color: #f0f8ff">
                <div class="card-header border-0">
                    <h3 class="card-title">
                        <i class="fas fa-map-marker-alt mr-1"></i>
                        感染者数マップ（前日からの増加数）
                    </h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-primary btn-sm" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div id="world-map" style="height: 500px; width: 100%;"></div>
                </div>
            </div>
            <div class="card" style="background-color: #f0f8ff">
                <div class="card-header border-0">
                    <h3 class="card-title">
                        <i class="fas fa-map-marker-alt mr-1"></i>
                        感染者数マップ（人口1万人あたりの感染者数）
                    </h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-primary btn-sm" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div id="world-map2" style="height: 500px; width: 100%;"></div>
                </div>
            </div>
        </section>
        <section class="col-lg-6 connectedSortable">
            <div class="card bg-white">
                <div class="card-header border-0">
                    <h3 class="card-title">
                        <i class="fas fa-map-marker-alt mr-1"></i>
                        感染者の年代
                    </h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-primary btn-sm" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <canvas id="donutChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
            </div>
            <div class="card bg-white">
                <div class="card-header border-0">
                    <h3 class="card-title">
                        <i class="fas fa-map-marker-alt mr-1"></i>
                        感染者数一覧
                    </h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-primary btn-sm" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div id="world-map" style="width: 100%;">
                    {{ INFECTED_NUMBER_LIST|safe }}
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}

{% block content_script %}

<!-- DataTables -->

<script>
    $(function () {

        var visitorsData = {
            {% for j in JP_INFECT_NUMBER %}'{{ j.7|stringformat:"02d" }}': {{ j.5 }},
            {% endfor %}
        }

        var perData = {
            {% for j in JP_INFECT_NUMBER %}'{{ j.7|stringformat:"02d" }}': {{ j.6 }},
            {% endfor %}
        }

        $('#world-map').vectorMap({
            map              : 'japan_ja',
            backgroundColor  : 'transparent',
            regionStyle      : {
                initial: {
                    fill: 'rgba(255, 255, 255, 0.7)',
                    'fill-opacity' : 1,
                    stroke :'rgba(0,0,0,.2)',
                    'stroke-width'  : 1,
                    'stroke-opacity': 1
                }
            },
            series: {
                regions: [{
                    values : visitorsData,
                    scale: ['#ffffff', '#000080'],
                    normalizeFunction: 'polynomial'
                }]
            },
            onRegionTipShow(e, tip, code){
                tip.html(tip.html()+'(+'+visitorsData[code]+')');
            },
        })
        $('#world-map2').vectorMap({
            map              : 'japan_ja',
            backgroundColor  : 'transparent',
            regionStyle      : {
                initial: {
                    fill: 'rgba(255, 255, 255, 0.7)',
                    'fill-opacity' : 1,
                    stroke :'rgba(0,0,0,.2)',
                    'stroke-width'  : 1,
                    'stroke-opacity': 1
                }
            },
            series: {
                regions: [{
                    values : perData,
                    scale: ['#ffffff', '#000080'],
                    normalizeFunction: 'polynomial'
                }]
            },
            onRegionTipShow(e, tip, code){
                tip.html(tip.html()+'(+'+perData[code]+')');
            },
        })
    })

    var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
    var donutData        = {
      labels: {{ AGE_LIST|safe }},
      datasets: [
        {
          data: {{ AGE_PAR }},
          backgroundColor : [
              {% for ic in CHART_COLOR %}
              'rgba({{ ic }}, 0.8)',
              {% endfor %}
          ]
        }
      ]
    }
    var donutOptions     = {
      maintainAspectRatio : false,
      responsive : true,
    }

    var donutChart = new Chart(donutChartCanvas, {
      type: 'doughnut',
      data: donutData,
      options: donutOptions
    })
</script>

{% endblock %}
