{% extends "base.html" %}

{% load static %}

{% block content_header %}
{% endblock %}

{% block content_body %}
    <div class="row">
        <div class="col-12">
            {% include "parts/canvas.html" with TITLE="都道府県別患者数推移" ID="announceBarChart" MESSAGE="厚生労働省発表が都道府県別患者数を発表した3/18からのデータに基づき作成。" MIN_HEIGHT=250 HEIGHT=500 only %}
        </div>
        <div class="col-12">
            {% include "parts/canvas.html" with TITLE="都道府県別死亡者数推移" ID="deathBarChart" MESSAGE="厚生労働省発表が都道府県別患者数を発表した3/18からのデータに基づき作成。" MIN_HEIGHT=250 HEIGHT=500 only %}
        </div>
        <div class="col-12">
            {% include "parts/canvas.html" with TITLE="人口一万人あたりの感染者数推移" ID="positivePerBarChart" MESSAGE="厚生労働省発表が都道府県別患者数を発表した4/1からのデータに基づき作成。" MIN_HEIGHT=250 HEIGHT=500 only %}
        </div>
        <div class="col-12">
            {% include "parts/canvas.html" with TITLE="都道府県別の患者増加数" ID="positivePlusBarChart" MESSAGE="厚生労働省発表が都道府県別患者数を発表した4/1からのデータに基づき作成。" MIN_HEIGHT=250 HEIGHT=500 only %}
        </div>
        <div class="col-12">
            {% include "parts/canvas.html" with TITLE="対患者数の増加率" ID="positiveIncPerBarChart" MESSAGE="厚生労働省発表が都道府県別患者数を発表した4/1からのデータに基づき作成。" MIN_HEIGHT=250 HEIGHT=500 only %}
        </div>
        <div class="col-12">
            {% include "parts/canvas.html" with TITLE="患者数推移（全国:発症日別）" ID="stackedBarChart" MESSAGE="発表日ではなく発症日です。東京都など発症日が調査中の都道府県があり、実際より少ない数になっています。" MIN_HEIGHT=250 HEIGHT=500 only %}
        </div>
        <div class="col-12">
            {% include "parts/canvas.html" with TITLE="年代別推移" ID="ageBarChart" MESSAGE="入力されているデータ分を表示しております。入力が完了していない都道府県や日時は表示されておりません。" MIN_HEIGHT=250 HEIGHT=500 only %}
        </div>
    </div>
{% endblock %}

{% block content_script %}

<script src="{% static 'AdminLTE/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'AdminLTE/plugins/chart.js/Chart.min.js' %}"></script>

<script>
    $(function () {
        {% include "parts/stackBar.html" with SBAR_NAME="announceBarChart" SBAR_LABEL=STATE_LABEL SBAR_DATA=POSITIVE_LIST %}
        {% include "parts/stackBar.html" with SBAR_NAME="deathBarChart" SBAR_LABEL=STATE_LABEL SBAR_DATA=DEATH_LIST %}
        {% include "parts/lineChart.html" with SBAR_NAME="positivePerBarChart" SBAR_LABEL=STATE_LABEL SBAR_DATA=POSITIVE_PER_LIST %}
        {% include "parts/lineChart.html" with SBAR_NAME="positivePlusBarChart" SBAR_LABEL=STATE_LABEL SBAR_DATA=POSITIVE_PLUS_LIST %}
        {% include "parts/lineChart.html" with SBAR_NAME="positiveIncPerBarChart" SBAR_LABEL=STATE_LABEL SBAR_DATA=INC_PER_LIST %}
        {% include "parts/stackBar.html" with SBAR_NAME="stackedBarChart" SBAR_LABEL=CHART_LABEL SBAR_DATA=ANNOUNCE_NUM %}
        {% include "parts/stackBar.html" with SBAR_NAME="ageBarChart" SBAR_LABEL=AGE_LABEL SBAR_DATA=AGE_NUM %}
    })
</script>
{% endblock %}

